.projects-section {
  text-align: center;
  padding: 50px;
  background-color: #111;
  color: white;
}

.projects-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.projects-section .highlight {
  color: #e91e63; 
}

.projects-section p {
  font-size: 18px;
  margin-bottom: 40px;
}

.projects {
  display: flex;
  padding: 50px 10vw;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #1c1c1c;
  border: 1px solid #e91e63;
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
  text-align: left;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #6a1b9a; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e91e63; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .projects-section {
    padding: 30px;
  }

  .projects {
    padding: 30px 5vw;
  }

  .project-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .project-card h2 {
    font-size: 20px;
  }

  .project-card p {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .projects-section h1 {
    font-size: 28px;
  }

  .projects-section p {
    font-size: 16px;
  }

  .project-card h2 {
    font-size: 18px;
  }

  .project-card p {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }
}
