.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10vw;
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c); /* Gradient background */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-in-out;
  position: relative;
}

.text-content {
  max-width: 50%;
  animation: slideInLeft 1s ease-in-out;
  position: relative; /* Ensure text-content is the reference for dynamic text */
}

.text-content p {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.text-content .wave {
  font-size: 30px;
  animation: wave 1.5s infinite;
  display: inline-block;
}

@keyframes wave {
  0%, 100% { transform: rotate(0); }
  50% { transform: rotate(20deg); }
}

.text-content h1 {
  font-size: 48px;
  margin: 10px 0;
}

.text-content .highlight {
  color: #e91e63;
  background: linear-gradient(135deg, #e91e63, #ff6f61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-content h2 {
  font-size: 36px;
  margin-top: 10px;
  position: relative;
  white-space: nowrap;
}

.image-content {
  max-width: 50%;
  animation: slideInRight 1s ease-in-out;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-content img:hover {
  transform: scale(1.05);
}

.introduce-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10vw;
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.introduce-text-content {
  max-width: 50%;
  animation: slideInLeft 1s ease-in-out;
}

.introduce-text-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.introduce-text-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.introduce-text-content .highlight {
  color: #e91e63;
  background: linear-gradient(135deg, #e91e63, #ff6f61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduce-image-content {
  max-width: 40%;
  animation: slideInRight 1s ease-in-out;
}

.introduce-image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.introduce-image-content img:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes slideInRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
